<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edition2LD</title>
</head>

<body>
    <div>
        {% for person in persons %}
        <div vocab="http://xmlns.com/foaf/0.1/" typeof="Person">
            <p>
                <span property="name">{{ person }}</span>
            </p>
        </div>
        {% endfor %}

        {% for place in places %}
        <span property="contentLocation" typeof="Place">
            <span property="name">{{ place }}</span>
        </span>
        {% endfor %}

        {% for term in terms %}
        <span property="keywords">{{ term }}</span>
        {% endfor %}
    </div>
</body>

</html>